.header__container {
  background-color: var(--orange);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  height: var(--header-height);
}

.logo__container {
  margin: 0 1rem;
}

h1 {
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.5rem 0;
}
