.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.075fr 1fr 0.15fr;
  height: 100%;

  @media screen and (min-width: 768px) {
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.1fr 1fr;
  }
}
