.tile__body {
    background-color: var(--dark-turqiose);
    width: 95%;
    border-radius: 3px;
}

.tile__title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: .5rem 0;
}

.tile__content {
    padding: .5rem;
    background-color: var(--white);
    color: var(--dark-background);
    margin: 0;
    text-align: justify;
}