:root {
	--navbar-height: 3rem;
	--background: #d8d8d8;
	--lighter-shade: #eeeeee;
	--black: #000;
	--dark-contrast: #008b8f;
	--white: #fff;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--background);
}

.back-link {
	color: var(--white);
}

.back-link:visited {
	color: var(--turquoise);
}
