.page__container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 3rem);
  justify-items: center;
  row-gap: 1rem;
  padding-top: 1rem;
  /* padding-bottom: calc(20px + var(--navbar-height)); */
}

.link__styled {
  text-decoration: none;
  color: var(--white);
}

.link__styled:visited {
  color: var(--turquoise);
}
