.button__client {
  background-color: var(--white);
  color: var(--black);
  border: solid 3px var(--orange);
  padding: 5px 10px;
}

.button__client:active {
  background-color: var(--orange-light);
  color: var(--white);
}

.add,
.close {
  border: none;
  color: var(--white);
}

.add {
  background-color: var(--green);
}

.close {
  background-color: var(--red);
}

.add:active,
.close:active {
  background-color: var(--white);
  color: var(--black);
}
