form {
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fit, 0.5fr);
	align-items: center;
	font-size: 1.25rem;
	margin: 0 auto;
	row-gap: 0.25rem;
}

section {
	position: relative;
}

.button__form {
	grid-column: 1 / 3;
	display: flex;
}

input {
	padding: 0.25rem;
}

.container__suggestions {
	background-color: var(--grey);
	color: var(--black);
	position: absolute;
	top: 2rem;
	left: 1rem;
	padding: 0.25rem 0.5rem;
	width: 50%;
	height: fit-content;
	list-style-type: none;
}

.search__results {
	padding: .5rem;
}

.search__results:hover {
	background-color: var(--white);
	cursor: pointer;
}