form {
	width: 80vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fit, 0.5fr);
	font-size: 1.25rem;
	margin: 0 auto;
}

.button__form {
	grid-column: 1 / 3;
	display: flex;
}
