.container__link,
.link__icon {
  display: flex;
}

.container__link {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--orange-light),
    var(--orange)
  );
  border-radius: 10px;
  padding: 0 1rem;
  box-shadow: 0 0 5px 3px var(--grey);
}

.link__title {
  font-weight: 600;
}

.link__icon {
  font-size: 3rem;
}

.link__description {
  text-align: center;
}
