.link__styled {
  color: var(--black);
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  height: 100%;
}

.link__styled > div {
  height: 100%;
}

.link__motion {
  background-color: var(--grey);
}

.link__motion:hover {
  cursor: pointer;
}
